@font-face {
    font-family: 'Quicksand';
    src: url('hinted-Quicksand-Light.woff2') format('woff2'),
        url('hinted-Quicksand-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('hinted-Quicksand-Regular.woff2') format('woff2'),
        url('hinted-Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('hinted-Quicksand-Medium.woff2') format('woff2'),
        url('hinted-Quicksand-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('hinted-Quicksand-Bold.woff2') format('woff2'),
        url('hinted-Quicksand-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

