@import url("../fonts/quicksand.css")

//color variables
$dark-black: #0B0C10
$light-black: #202833
$grey: #C5C6C8
$cyan: #66FCF1
$dark-cyan: #46A29F

html, body
  width: 100vw
  height: 100vh
  overflow: hidden
  font-family: Quicksand

//helper classes
.loc
  float: left
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  min-height: 1px

.wrapper
  .bio
    width: 40%
    height: 100vh
    background-color: $light-black

    nav
      background-color: transparent
      box-shadow: none

      .nav-wrapper
        ul
          float: none
          position: absolute
          left: 45%
          transform: translate(-46%, 0%)

    .sidenav-trigger
      i
        color: $cyan

    .sidenav
      background: $dark-black

      li
        a
          color: $cyan

    .bio-content
      margin-top: 30%
      padding: 0 2em

      h1, p
        color: $cyan
        text-align: justify

      p:first-child
        text-transform: capitalize
        font-size: 5em
        margin: 0

    .bio-footer
      bottom: 0
      position: fixed
      width: 100%
      margin: 0 0 1em 1em

      i
        color: $cyan
        font-size: 1.3em
        margin: 0 .5em

  .about-me
    width: 30%
    height: 100vh

    .about-me-img-container
      background-image: url("../images/artist portfolio.png")
      height: 70vh
      width: 100%
      background-position: center
      background-repeat: no-repeat
      background-size: cover

    .about-me-content
      height: 30vh
      padding: 2em

      p, a
        color: $light-black
        font-weight: bold

      a
        color: $dark-cyan

  .showcase
    width: 30%
    height: 100vh

    .showcase-content
      height: 40vh
      padding: 2em

      p, a
        color: $light-black
        font-weight: bold

      a
        color: $dark-cyan

    .showcase-image
      background-image: url("../images/Text Potrait bw.png")
      height: 60vh
      width: 100%
      background-position: center
      background-repeat: no-repeat
      background-size: cover

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
  html, body
    overflow: auto !important
  .bio, .about-me, .showcase
    width: 100% !important
    height: 100% !important
  .bio
    .bio-content
      margin-top: 0 !important
      padding: 1em !important

    .bio-footer
      text-align: center
      position: relative !important
      margin: 0 0 2em 0 !important

  .about-me
    .about-me-content
      padding: 1em !important

  .showcase
    .showcase-content
      padding: 1em !important
      height: 30vh !important


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)